# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# artifacts
scrapers/catalog.json
scrapers/fireroad-sem.json
scrapers/fireroad-presem.json
scrapers/cim.json
public/latest.json
public/i26.json

# python
__pycache__
.mypy_cache
scrapers/.mypy_cache
src/Hydrant.egg-info

# deploy script
deploy.sh

#virtual env
.venv

# router
.react-router
build
