:global(:root) {
  /* primary */
  --fc-monarch-primary: rgb(65 95 145);
  --fc-monarch-primary-foreground: rgb(255 255 255);
  --fc-monarch-primary-over: color-mix(
    in oklab,
    var(--fc-monarch-primary) 90%,
    white
  );
  --fc-monarch-primary-down: color-mix(
    in oklab,
    var(--fc-monarch-primary) 80%,
    white
  );

  /* secondary */
  --fc-monarch-secondary: rgb(214 227 255);
  --fc-monarch-secondary-foreground: rgb(40 71 119);
  --fc-monarch-secondary-over: color-mix(
    in oklab,
    var(--fc-monarch-secondary) 95%,
    var(--fc-monarch-foreground)
  );
  --fc-monarch-secondary-down: color-mix(
    in oklab,
    var(--fc-monarch-secondary) 90%,
    var(--fc-monarch-foreground)
  );

  /* tertiary */
  --fc-monarch-tertiary: rgb(112 85 117);
  --fc-monarch-tertiary-foreground: rgb(255 255 255);
  --fc-monarch-tertiary-over: color-mix(
    in oklab,
    var(--fc-monarch-tertiary) 90%,
    white
  );
  --fc-monarch-tertiary-down: color-mix(
    in oklab,
    var(--fc-monarch-tertiary) 80%,
    white
  );

  /* calendar content */
  --fc-monarch-event: var(--fc-monarch-primary);
  --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
  --fc-monarch-highlight: color-mix(
    in oklab,
    var(--fc-monarch-secondary) 30%,
    transparent
  );
  --fc-monarch-now: rgb(186 26 26);

  /* controls */
  --fc-monarch-selected: rgb(86 95 113);
  --fc-monarch-selected-foreground: rgb(255 255 255);
  --fc-monarch-selected-over: color-mix(
    in oklab,
    var(--fc-monarch-selected) 90%,
    white
  );
  --fc-monarch-selected-down: color-mix(
    in oklab,
    var(--fc-monarch-selected) 80%,
    white
  );
  --fc-monarch-outline: red;

  /* popover */
  --fc-monarch-popover: var(--fc-monarch-background);

  /* neutral backgrounds */
  --fc-monarch-background: var(--chakra-colors-bg);
  --fc-monarch-faint: var(--chakra-colors-bg-subtle);
  --fc-monarch-muted: var(--chakra-colors-bg-muted);
  --fc-monarch-strong: var(--chakra-colors-bg-emphasized);
  --fc-monarch-stronger: var(--chakra-colors-bg-solid);
  --fc-monarch-strongest: var(--chakra-colors-bg-focus-ring);

  /* neutral foregrounds */
  --fc-monarch-foreground: var(--chakra-colors-fg);
  --fc-monarch-faint-foreground: var(--chakra-colors-fg-subtle);
  --fc-monarch-muted-foreground: var(--chakra-colors-fg-muted);

  /* neutral borders */
  --fc-monarch-border: var(--chakra-colors-border-emphasized);
  --fc-monarch-strong-border: var(--chakra-colors-border-inverted);
}

:global(.dark) {
  /* primary */
  --fc-monarch-primary: rgb(170 199 255);
  --fc-monarch-primary-foreground: rgb(10 48 95);

  /* secondary */
  --fc-monarch-secondary: rgb(40 71 119);
  --fc-monarch-secondary-foreground: rgb(214 227 255);

  /* tertiary */
  --fc-monarch-tertiary: rgb(221 188 224);
  --fc-monarch-tertiary-foreground: rgb(63 40 68);

  /* calendar content */
  --fc-monarch-now: rgb(255 180 171);

  /* controls */
  --fc-monarch-selected: rgb(190 198 220);
  --fc-monarch-selected-foreground: rgb(40 49 65);
  --fc-monarch-outline: red;

  /* popover */
  --fc-monarch-popover: rgb(17 19 24);
  --fc-monarch-popover-foreground: rgb(226 226 233);
}

.fc-slot-header-inner {
  line-height: 0.4rem;
  padding-block: 0.1rem;
  padding-block-start: 1rem;
  opacity: 0.7;
  font-size: 0.75rem;
}

.fc-day-header-inner {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

.fc-event {
  cursor: pointer;
}

.fc-event-inner {
  padding-top: 0.25rem;
  padding-inline-start: 0.5rem;
}

.fc-event-inner > * {
  padding-block: 0rem;
}
