
/*
NOTE: button/toolbar UI is not defined here
*/

:root {
  /* primary */
  --fc-classic-primary: #3788d8;
  --fc-classic-primary-foreground: #fff;

  /* calendar content */
  --fc-classic-event: var(--fc-classic-primary);
  --fc-classic-event-contrast: var(--fc-classic-primary-foreground);
  --fc-classic-background-event: #22c55e;
  --fc-classic-highlight: #cffafe66;
  --fc-classic-today: #facc1526;
  --fc-classic-now: #ef4444;

  /* neutral backgrounds */
  --fc-classic-background: var(--chakra-colors-bg);
  --fc-classic-faint: var(--chakra-colors-bg-subtle);
  --fc-classic-muted: var(--chakra-colors-bg-muted);
  --fc-classic-strong: var(--chakra-colors-bg-emphasized);

  /* neutral foregrounds */
  --fc-classic-faint-foreground: var(--chakra-colors-fg-subtle);
  --fc-classic-muted-foreground: var(--chakra-colors-fg-muted);

  /* neutral borders */
  --fc-classic-border: var(--chakra-colors-border);
  --fc-classic-strong-border: var(--chakra-colors-border-emphasized);
}
