.ag-root {
  width: 100%;
}

.ag-row {
  cursor: pointer;
}

.ag-row:hover .ag-cell:first-child {
  text-decoration: underline;
}

.ag-cell-muted-text {
  color: var(--chakra-colors-fg-muted);
}

.ag-cell-success-text {
  color: var(--chakra-colors-fg-success);
}

.ag-cell-warning-text {
  color: var(--chakra-colors-fg-warning);
}

.ag-cell-error-text {
  color: var(--chakra-colors-fg-error);
}

.ag-cell-normal-text {
  color: var(--chakra-colors-fg);
}
