[MESSAGES CONTROL]
disable=
    # one-letter variable names are OK!
    invalid-name, 

    # false alarms: these files all import each other
    import-error,

    # this is good coding style, no need to flag
    no-else-return