name: Autodeploy branch

on:
  push:
    branches:
      - deploy

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install node dependencies
        run: npm install
      - name: Checks types
        run: npm run typecheck
      - name: Run build
        run: npm run build
      - name: Archive build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: built-site
          path: |
            build/client
            !build/client/latest.json
